.landing-image {
  background: url('../../img/landing/background.jpg') center / cover no-repeat;
  width: 100vw;
  height: 300px;
}

.landing-time {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
}

.landing-greeting {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}

.landing-navigation {
  text-align: right;
  border-width: 0;
}

.landing-link {
  color: black;
  text-decoration: none;
}

.landing-headline {
  color: black;
  font-size: 36px;
  text-align: center;
  margin-bottom: 16px;
}

.landing-testimonial {
  font-size: 24px;
}

.landing-footer {
  text-align: center;
  margin-top: 24px;
}
